<div class="row">
    <div class="col-md-offset-1">
        <div class="header">
            <img src="/images/09ffb3fe.dropbox_logo.png" style="padding-right: 20px">
            <h3 style="display:inline">Company Report: <a href="">Dropbox</a></h3>
        </div>
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-6" style="padding-top: 20px; border-right: 1px solid #eee">
        <h4>Financial History</h4>
        <img src="/images/reports/f9ec9b41.financing_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
    </div>

    <div class="col-lg-6" style="padding-top: 20px">
        <h4>Traction</h4>
        <img src="/images/reports/a3aeef8d.traction_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-12" style="padding-top: 20px">
        <h4>Burn Rate</h4>
        <img src="/images/reports/de7af154.earned_burned_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0">
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-12" style="padding-top: 20px">
        <h4>Financial Performance</h4>
        <img src="/images/reports/b3833c67.burn_graph.png" style="padding: 20px 0 20px 0">
    </div>
</div>