<div class="row">
    <div class="col-md-offset-1">
        <div class="header">
            <h3>Reports</h3>
        </div>
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-6" style="padding-top: 20px;">
        <h4>Finacials</h4>
        <img src="/images/reports/financing_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0" />
    </div>

    <div class="col-lg-6" style="padding-top: 20px;">
        <h4>Finacials</h4>
        <img src="/images/reports/financing_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0" />
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-12" style="padding-top: 20px;">
        <h4>Finacials</h4>
        <img src="/images/reports/earned_burned_graph.png" style="border-bottom: 1px solid #eee; padding: 20px 0 20px 0;" />
    </div>
</div>

<div class="row-center" style="">
    <div class="col-lg-12" style="padding-top: 20px;">
        <h4>Finacials</h4>
        <img src="/images/reports/burn_graph.png" style="padding: 20px 0 20px 0;" />
    </div>
</div>
